# .htaccess
# Configuración básica del servidor

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?request=$1 [QSA,L]
</IfModule>

# Evitar que se listen archivos/carpetas
<FilesMatch "\.(env|config|sql|txt)$">
    Order allow,deny
    Deny from all
</FilesMatch>